/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

.create-button {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.link-font-color {
  color: #ffffff;
  text-decoration: none;
}
.outer-div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.currency-box {
  float: right;
  margin-right: 50px;
}
.dropdownbox {
  display: flex;
  margin-top: 30px;
  margin-right: 0px;
  float: right;
}
.dropdown_btn {
  margin: 0;
}
